header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #140f07;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logoimg {
  transition: opacity 0.5s ease;
  width: 12rem;
  cursor: pointer;
}

.logoimg.transparent {
  opacity: 1;
}

.logoimg.scrolled {
  opacity: 0.1;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons i {
  color: #140f07;
  cursor: pointer;
  transition: color 0.5s ease;
  font-size: 2rem;
}

.icons i:hover {
  color: #f7da18;
}

.dropdown {
  color: #140f07;
  font-size: 40px;
  cursor: pointer;
}
